@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1440px;
  height: 960px;

  background: #f0f0f0;
}

main {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px;

  position: absolute;
  width: 840px;
  height: 651px;
  left: 300px;
  top: 171px;

  /* White */

  background: #ffffff;
  border-radius: 24px 24px 200px 24px;
}

.forms {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 728px;
  height: 101px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 160px;
  height: 130px;
}

.form-label {
  width: 37px;
  height: 21px;

  /* Heading S */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.25em;
  text-transform: uppercase;

  /* Grey */

  color: #716f6f;
}

.form-label--error {
  color: #ff5959;
}

.form-text--error {
  width: 139px;
  height: 21px;

  /* Body */

  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  /* identical to box height */

  /* Red */

  color: #ff5959;
}

.form-input {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;

  width: 160px;
  height: 72px;

  /* Line */

  border: 1px solid #dcdcdc;
  border-radius: 8px;

  /* Heading M */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  letter-spacing: 0.01em;

  /* Black */

  color: #151515;
}

.form-input:focus {
  outline: none !important;
  border: 1px solid;
  border-color: hsl(259, 100%, 65%);
  caret-color: hsl(259, 100%, 65%);
}

.form-input--error {
  border-color: hsl(0, 100%, 67%);
}

.middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 728px;
  height: 96px;
}

.line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 632px;
  height: 1px;

  background: #dcdcdc;
}

.hidden {
  display: none;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 728px;
  height: 342px;
}

.result {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 728px;
  height: 114px;
}

.result-number {
  width: 130px;
  height: 114px;

  /* Heading L */

  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-size: 104px;
  line-height: 110%;
  /* or 114px */

  letter-spacing: -0.02em;

  /* Purple */

  color: #854dff;
}

.result-label {
  width: 301px;
  height: 114px;

  /* Heading L */

  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-size: 104px;
  line-height: 110%;
  /* or 114px */

  letter-spacing: -0.02em;

  /* Black */

  color: #151515;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 96px;
  height: 96px;

  /* Purple */

  background: #854dff;
  border: none;
  border-radius: 216px;
}

.submit-button:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  cursor: pointer;

  width: 96px;
  height: 96px;

  /* Black */

  background: #151515;
  border-radius: 216px;
}

.submit-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;

  width: 44px;
  height: 44px;
}

@media screen and (max-width: 800px) {
  body {
    position: relative;
    width: 375px;
    height: 812px;

    background: #f0f0f0;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 24px;
    gap: 32px;

    position: absolute;
    width: 343px;
    height: 486px;
    left: 16px;
    top: 88px;

    /* White */

    background: #ffffff;
    border-radius: 24px 24px 100px 24px;
  }

  .forms {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 295px;
    height: 76px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 87.67px;
    height: 76px;
  }

  .form-label {
    width: 32px;
    height: 18px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.25em;
    text-transform: uppercase;

    /* Grey */

    color: #716f6f;
  }

  .form-label--error {
    color: #ff5959;
  }

  .form-text--error {
    width: 139px;
    height: 21px;

    /* Body */

    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    font-size: 8.5px;
    line-height: 21px;
    /* identical to box height */

    /* Red */

    color: #ff5959;
  }

  .form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;

    width: 87.67px;
    height: 54px;

    /* Line */

    border: 1px solid #dcdcdc;
    border-radius: 8px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: 0.01em;

    /* Black */

    color: #151515;
  }

  .form-input:focus {
    outline: none !important;
    border: 1px solid;
    border-color: hsl(259, 100%, 65%);
    caret-color: hsl(259, 100%, 65%);
  }

  .form-input--error {
    border-color: hsl(0, 100%, 67%);
  }

  .middle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 295px;
    height: 64px;
  }

  .line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 115.5px;
    height: 1px;
  }

  .results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 295px;
    height: 186px;
  }

  .result {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 295px;
    height: 62px;
  }

  .result-number {
    width: 70px;
    height: 62px;

    font-family: "Poppins";
    font-style: italic;
    font-weight: 800;
    font-size: 56px;
    line-height: 110%;
    /* identical to box height, or 62px */

    letter-spacing: -0.02em;

    /* Purple */

    color: #854dff;
  }

  .result-label {
    width: 162px;
    height: 62px;

    font-family: "Poppins";
    font-style: italic;
    font-weight: 800;
    font-size: 52px;
    line-height: 110%;
    /* identical to box height, or 62px */

    letter-spacing: -0.02em;

    /* Black */

    color: #151515;
  }

  .submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    cursor: pointer;

    width: 64px;
    height: 64px;

    /* Purple */

    background: #854dff;
    border-radius: 216px;
  }

  .submit-button:hover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    cursor: pointer;

    width: 64px;
    height: 64px;

    /* Black */

    background: #151515;
    border-radius: 216px;
  }

  .submit-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;

    width: 24px;
    height: 24px;
  }
}
